.token.comment {
  font-style: italic;
}

.dark .token.module,
.dark .token.attr-name,
.dark .token.keyword,
.dark .token.rule,
.dark .token.pseudo-class,
.dark .token.important {
  color: #CB5FDE;
}

.dark .token.comment,
.dark .token.operator,
.dark .token.combinator {
  color: var(--color-slate-400);
}

.dark .token.punctuation,
.dark .token.attr-equals {
  color: var(--color-slate-500);
}

.dark .token.attr-value,
.dark .token.class,
.dark .token.string {
  color: #89CA6C;
}

.dark .token.property,
.dark .token.tag {
  color: #E3596F;
}

.dark .token.function-variable {
  color: #61AFEF;
}

/** Light mode */

.token.attr-value,
.token.class,
.token.string {
  color: #50A14F;
}

.token.function-variable,
.token.generic-function,
.token.function {
  color: #4078F2;
}

.token.module,
.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: #A626A4;
}

.token.property,
.token.tag {
  color: #E55649;
}

.token.generic,
.token.class-name {
  color: #C18401;
}

.token.comment,
.token.combinator {
  color: #A0A1A7;
}
.token.operator,
.token.builtin {
  color: #0184BC;
}